{{!< default}}

<h1>Register</h1>

<form action="/register" method="post">
    <ul>
        <li>
            <label for="username">Email</label>
            <input id="username" type="text" name="un" value="{{ username }}" >
        </li>
        <li>
            <label for="password">Password</label>
            <input id="password" type="password" name="pw" >
        </li>
        <li>
            <label for="validate_password">Validate Password</label>
            <input id="validate_password" type="password" name="vpw" >
        </li>
       
        <li>
            <button type="submit">Go</button>
        </li>
    </ul>
</form>
